<script id="registration-entry" type="text/x-handlebars-template">
  <div class="entry">
    <h1>All fields required unless marked optional</h1>

<ul>{{firstName}}
    {{lastName}}
    {{email}}
</ul>

<h2>All usernames and password must be unique!
    username and password must be between 5 - 8 characters
</h2>

<ul>
   {{userName}}
   {{password}}
</ul>

<button type="submit">add account</button>
</form>

    </div>
  </div>
</script>