{{!-- {{form to add events}} --}}

<script id="add-event-form" type="text/x-handlebars-template">
  <div class="entry">

<h1>Please fill in form. All fields required unless marked optional.</h1>

<ul>
{{#each event}}
    <li>
        <p>Venue: {{venue}}</p>
        <p>Address: {{address}}</p>
        <p>Zipcode: {{zipCode}}</p>
        <P>Phone number: {{phoneNumber}}</P>
        <p>Event name: {{eventName}}</p>
        <p>Line up: {{lineup}}</p>
        <p>Date and time: {{eventDateTime}} </p>
        <p>Ticket price: {{cost}} </p>
        <p>Ticket link: {{ticketLink}}</p>
        <p>Poster link: {{posterLink}}</p>
{{/each}}
    </li>
</ul>

{{!the form action needs to be changed cuz its currently set to the home page }}
<form action="/" method="POST">
	<textarea type="text" name="add-event-form"></textarea>

<button type="submit">Add event</button>
</form>

    </div>
  </div>
</script>
